# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Doxygen files
doc/html
doc/latex

# build files
Debug
make
build

*.nc
*.pdf
mlpack-1.0.8
